/*  
    Cores
    #2C5273 - dusk blue
    #DB2B39 - scarlet rush
/*

/*Configurações gerais*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2C5273;
    padding: 1.5em 1.5em;
}

#header-logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    padding-right: 5em;
}

nav ul{
    list-style-type: none;
    float: left;
}

nav ul li{
    float: left;
}

nav ul li a{
    text-decoration: none;
    color: white;
    background-color: #DB2B39;
    padding: 0.5em 1.5em;
}

nav a:hover{
    background: #c20313;
}

/*CONTEÚDO*/
#content{
    width: 1600px;
    height: 900px;
    margin: 10px auto;
    border: 1px solid blue;
    display: flex;
    padding: 10px;
}

#content div{
    margin: 10px;
}

#side, #main{
    border: 1px solid black;
}

#side{
    width: 400px;
}

#main{
    width: 1200px;
}

/*RODAPÉ*/
footer{
    text-align: center;
    margin-top: 20px;
    padding: 1.5em;
    background-color: #2C5273;
    color: white;
}

footer span{
    font-size: 2rem;
}